<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotchek</title>
  <link rel="stylesheet" href="/css/styles.css">
  {{>fonts}}
</head>

<body>
  {{>header}}

  <div id="listContentContainer">
    {{!-- <div id="newestContainer">
      <h2 id="newHeader">{{user.username}}'s Profile</h2>


    </div> --}}
    <div id="listContainer">
      <div id="userHeadBox">
        <h1>{{user.username}}'s Gallery</h1>
      </div>
      {{#each pictures}}
      <div class="listBox">
        <a href="http://localhost:3000/gallery/{{id}}">
          <img class="listPic" src="{{photo_url}}">
        </a>
        <div class="listTitle">{{title}}</div>
      </div>
      {{/each}}
    </div>
  </div>



</body>

</html>